<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">
    <property name="charset" value="UTF-8" />
    <property name="severity" value="error" />

    <module name="Header">
        <property name="header"
                  value="////////////////////////////////////////////////////////////////////\n// [Sonia] [Menon] [1144731]\n////////////////////////////////////////////////////////////////////"/>
        <property name="fileExtensions" value="java" />
    </module>

    <module name="FileLength" />

    <module name="FileTabCharacter">
        <property name="eachLine" value="true" />
    </module>

    <module name="TreeWalker">
        <module name="BooleanExpressionComplexity" />

        <module name="CyclomaticComplexity" />

        <module name="LineLength">
            <property name="max" value="150" />
        </module>

        <module name="MethodLength" />

        <module name="EmptyCatchBlock">
            <property name="commentFormat" value="This is expected"/>
            <property name="exceptionVariableName" value="myException"/>
        </module>

        <module name="AvoidStarImport" />

        <module name="IllegalImport">
            <property name="illegalPkgs" value="java.io, java.sql"/>
        </module>

        <module name="NeedBraces" />
    </module>
</module>